body {
	box-sizing: border-box;
	font-size: 16px;
	background-color: darkgrey;
}

.container {
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

.container .navbar-header {
	margin: 0;
}

@media (min-width: 768px) {
#nav1  {
	margin-left: 15px;
	}

#collapsable-nav {
	border: 1px solid black;
	color: black;
	}
}

@media (max-width: 767px) {
#nav1  {
	margin-left: 15px;
	}

#collapsable-nav {
	border: 0;
	}

.navbar-header {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	}
.container .row {
	margin-right: 40px; 
	margin-left: 40px;
	}
}

#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 0;	
	text-shadow: 1px 1px 1px #222;	
	text-align: left;
}

#nav-list {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	background-color: lightgrey;
	font-weight: bold;
	color: black;
}

#menu1 {
	border-bottom: 1px solid black;
}

#menu2 {
	border-bottom: 1px solid black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}

#collapsable-nav {
	padding: 0;
	margin: 0;
}

.row {
	margin: 10px;
	padding: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

h3, h2 {
	font-weight: bold;
	margin-bottom: 25px;
	padding-top: 10px;
	color: black;
}

#section1, #section2, #section3 {
	background-color: lightgrey;
}

p, .bttt {
	padding-left: 15px;
	padding-right: 15px;
}

