/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;  
}

h1 {
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  font-size: 175%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.section {
  background-color: grey;
  margin:auto;
  width: 100%;
  min-height: 150px;
  position: relative;
}

.p0 {
  border: 1px solid black;  
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;  
  text-align: left;
  padding: 40px 10px 10px 10px;
}

.p1 {
  width: 120px;
  height: 35px;
  float: right;
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-weight: bold;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 125%;
}

#pink {
  background-color: pink;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
    padding: 10px;        
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;    
    width: 50%;
    padding: 10px;          
  }
  .item3 {
    float: left;
    width: 100%;
    padding: 10px;        
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    padding: 10px;
    margin: 0px;
    position: relative    
  }
}
